html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex;
    flex-direction: column;
    background-color: #E3DED8;
}

main {
    flex: 1; /* Esto hace que ocupe el espacio restante */
}


header nav .contenedor-menu {
    display: none;
    margin: 20px;
}

header nav .icono {
    display: flex;
    justify-content: end;
    height: 40px;
    align-items: center;
}
header nav .icono img {
    margin: 20px 20px 0 0;
    height: 70%;
    color:  #302a33;
}

#intro {
    width: 85%;
    margin: 10px;
    padding: 10px;
    background-color: #F5F3F0;
    border-radius: 20px;
}

#intro img {
    width: auto;
    height: 400px;
}
#intro .contenedor-info {
    margin: 10px;
    font-family: "Manrope", sans-serif;
}

#intro .contenedor-info h1 {
    margin-top: -50px;
    font-size: 50px;
    color:  #302a33
}
#intro .contenedor-info p {
    margin-top: -20px;
    font-size: 21px;
    color: #79747c;
}

#intro .contenedor-info .boton-proyectos {
    background-color: #9d79f3;
    color:white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    outline: none;
  }
  
  #intro .contenedor-info .boton-proyectos:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); 
  }
  
  #intro .contenedor-info .boton-proyectos:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }
  
  #intro .contenedor-info .boton-proyectos:focus {
    outline: 2px solid #9d79f3 (0, 122, 255, 0.4);
  }

#sobre-mi .linea-decorativa {
    height: 2px;
    background-color: #9d79f3;
    width: 6%;
    border-style: none;
  }

#sobre-mi {
    display: block;
    text-align: center;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    color: #302a33;

}


#sobre-mi h2 {
    margin-top: 60px;
    font-size: 18px;
    color:  #79747c;
}

#sobre-mi img {
    margin-bottom: 20px;
    padding: 0;
    width: auto;
    height: 300px;
}

#sobre-mi p {
    text-align: left;
    margin: 20px;
    margin-top: -20px;
    font-size: 16px;
    color: #79747c;
}


#sobre-mi .boton-descargar {
    background-color: white;
    color: #9d79f3;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    outline: none;
  }
  
  #sobre-mi .boton-descargar:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); 
  }
  
  #sobre-mi .boton-descargar:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }
  
  #sobre-mi .boton-descargar:focus {
    outline: 2px solid #9d79f3 (0, 122, 255, 0.4);
}

#proyectos {
    display: block;
    text-align: center;
    justify-content: center;
    font-family: "Manrope", sans-serif;
    color: #302a33;
}

#proyectos .linea-decorativa {
    height: 2px;
    background-color: #9d79f3;
    width: 6%;
    border-style: none;
  }

#proyectos h2 {
    margin-top: 60px;
    font-size: 18px;
    color:  #79747c;
}

#proyectos .grilla-proyectos {
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.grilla-proyectos .proyecto {
    margin: 20px;
    width: 100%;
    background-color: #F5F3F0;
    border-radius: 20px;
}

.grilla-proyectos .proyecto img {
    width: 100%;
    border-radius: 20px 20px 0 0;

}
.grilla-proyectos .proyecto h3 {
    padding: 20px;
    font-family: "Manrope", sans-serif;
    color:#79747c;

}


/* #contacto {
    margin: 0px;
    background-image: url(./fondo-contacto.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content:flex-start; 
    align-items: stretch; 
    flex-direction: column;
} */

#contacto {
    margin: 0;
    background-image: url(./fondo-contacto.png);
    background-position: center;
    background-size: cover;
    width: 100%

    
    /* background-position:center;
    background-size: cover;
    display: flex;
    justify-content:flex-start; 
    align-items: stretch;
    flex-direction: column; */
}

#contacto .contenedor-img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacto .contenedor-img img {
    width: 250px;
    display: flex;
    justify-content: center;
}

#contacto .contenedor-info {
    font-family: "Manrope", sans-serif;
}

#contacto .contenedor-info p {
    font-size: 16px;
    color: #79747c;
}

#contacto .contenedor-info h2 {
    font-size: 40px;
    color:  #302a33;
    font-weight:bolder;
    margin-top: -10px;
}
 
#contacto form {
    margin: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#contacto label {
    display: flex;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color:  #302a33;
    font-weight:bolder;
}

#contacto form input {
    background: none;
    width: 90%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    padding: 8px 0;
    margin-bottom: 60px;
    outline: none;
    font-family: "Manrope", sans-serif;

}

#contacto form select {
    background: none;
    width: 90%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    padding: 8px 0;
    margin-bottom: 60px;
    outline: none;
    font-family: "Manrope", sans-serif;
}

#contacto form option {
    background-color: #F5F3F0;
}

#contacto form .submit {
    background-color: white;
    color: #9d79f3;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    outline: none;
}

#contacto form .submit:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); 
  }
  
#contacto form .submit:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }
  
#contacto form .submit:focus {
    outline: 2px solid #9d79f3 (0, 122, 255, 0.4);
}


footer .contenedor-footer {
    width:100%;
    height: 100px;
    background-color: #9d79f3;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {  /* tablet */
    header {
        height: 40px; /* Alto fijo del header */
        width: 100vw;
    }
    
    header nav .contenedor-menu {
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-top: 10px;
        padding: 0;
    }
    
    header nav .link {
        text-decoration: none; /* Quita el subrayado de los links */
        color: #696969; /* Color de los links */
        font-size: 16px; /* Tamaño de fuente de los links */
        font-family: "Libre Franklin", sans-serif;
    }
    
    header nav .icono {
        display: none; /* Oculta el ícono por defecto */
    }

    #intro {
        display: flex;
        width: 94%;
    }

    #intro img {
        width: auto;
        height: 400px;
    }

    .contenedor-info {
        margin: 0;
        padding: 0;
        font-family: "Manrope", sans-serif;
    }

    #intro .contenedor-info h1 {
        margin-top: 50px;
        font-size: 70px;
        font-weight:900;
        color: #33302A
    }

    #intro .contenedor-info p {
        font-size: 20px;
        color: #7C7974
    }

    #sobre-mi img {
        width: auto;
        height: 250px;
    }
    #sobre-mi p {
        font-size: 18px;
        color: #79747c;
    }

    .grilla-proyectos .proyecto {
        width: 40%;
        background-color: #F5F3F0;
        border-radius: 20px;
    }
    


    #contacto .contenedor-img {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #contacto .contenedor-img img {
        width: 250px;
    }


    
}



@media (min-width: 1024px) { /* escritorio */
    #intro {
        width: 95%;
        margin: 15px;
    }
    
    #intro img {
        width: auto;
        height: 600px;
    }
    #intro .contenedor-info {
        font-family: "Manrope", sans-serif;
    }
    #intro .contenedor-info h1 {
        margin-top: 250px;
        font-size: 100px;
        font-weight:900;
        color: #33302A
    }
    #intro .contenedor-info p {
        margin-top: -50px;
        font-size: 30px;
        color: #7C7974
    }
    
    #sobre-mi img {
        margin: 0;
        width: auto;
        height: 400px;
    }

    #sobre-mi p {
        margin-right: 200px;
        margin-left: 200px;
        margin-top: 20px;
        font-size: 21px;
        color: #79747c;
        text-align: center;
    }

    .grilla-proyectos .proyecto {
        width: 40%;
        background-color: #F5F3F0;
        border-radius: 20px;
    }


    #contacto .contenedor-img img {
        position: relative;
        top: 100px;
        right: 100px;
        width: 500px;
    
    }

    #contacto .contenedor-info {
        width: 50%;
        position: relative;
        left: 600px;
        top: -550px;
    }

}